# SPDX-License-Identifier: CC0-1.0
#
# Copyright (c) 2023 Nelson Vieira
#
# @author Nelson Vieira <nelson0.vieira@gmail.com>
# @license CC0-1.0 <https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt>
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false
